body {
    background-color: #363636;
}

nav {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid black;
}

.nav-element {
    height: 80%;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border: 0;
}

.nav-element:hover {
    color:blueviolet;
}

.row {
    display: flex;
    padding: 10px;
    width: 100%;
    height: inherit;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.main-article {
    width: 80%;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: antiquewhite;
    box-shadow: 5px 5px 8px black;
}

span.title {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #323232;
    font-size: x-large;
    font-weight: bold;
    font-family: "Times New Roman";
}

footer{
    position: absolute;
    padding-bottom: 3%;
    padding-top: 1%;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #141414;
    color: whitesmoke;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    margin-bottom: 5px;
}

th.ora {
    border-right: 1px solid black;
    padding: 5px;
}

th.giorno {
    border-bottom: 1px solid black;
    padding: 5px;
}

td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

img.school-image {
    width: 40%;
    padding-right: 5%;
}

img.interest-img {
    background-color: #00000020;
    border-radius: 5px;
    height: auto;
    max-height: inherit;
    width: 20%;
    padding: 5px;
}

.description {
    background-color: #00000020;
    border-radius: 5px;
    width: 20%;
    padding: 5px;
}

.interest-row {
    display: flex;
    padding: 10px;
    width: 100%;
    height: inherit;
    justify-content: space-evenly;
}

div.interest-title{
    font-weight: bold;
}
